:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

#root {
  height: 100vh;
}

.logo {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 2rem;
  margin-top: 3rem;
  height: 100%;
}

.label__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.input__label {
  display: block;
  color: var(--Dark-grayish-cyan);
  margin-bottom: 0.5rem;
}

.error__msg {
  color: rgb(241, 76, 76);
}

.input__container {
  background-color: var(--Very-light-grayish-cyan);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  border: solid 2px transparent;
}

.input__container--active {
  border: solid 2px hsl(172, 84%, 38%);
}

.input__container--error {
  border: solid 2px rgb(241, 76, 76);
}

.input__container img {
  height: 100%;
}

.calculator__input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--Very-dark-cyan);
  text-align: right;
  padding: 0rem 0.5rem;
  caret-color: hsl(172, 84%, 38%);
}

.calculator__input:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.calculator__input::placeholder {
  color: var(--Grayish-cyan);
}

.calculator__percentages {
  margin: 2rem 0rem;
}

.percentages__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0rem;
}

.percentages__box .input__label {
  margin-bottom: 0;
}

.percentages__box button {
  color: var(--White);
  background-color: var(--Very-dark-cyan);
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0rem;
}

.percentages__box button:hover {
  background-color: hsla(172, 67%, 45%, 0.5);
  color: var(--Very-dark-cyan);
  cursor: pointer;
}

.percentages__box [aria-selected="true"] {
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
}

.percentages__box input {
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 5px;
}

.percentages__box input::placeholder {
  color: var(--Dark-grayish-cyan);
  font-size: 1.5rem;
}

.calculator__outputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Very-dark-cyan);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.output__display {
  display: flex;
  justify-content: space-between;
}

.output__display + .output__display {
  margin-top: 2rem;
}

.output__title {
  color: var(--White);
}

.output__ratio {
  color: var(--Grayish-cyan);
  font-size: 13px;
  margin-top: 0.1rem;
}

.output__value {
  color: var(--Strong-cyan);
  font-size: 2rem;
}

.output__reset {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0rem;
}

.output__reset:not(:disabled):hover {
  background-color: rgb(119, 233, 218);
  cursor: pointer;
}

[disabled] {
  opacity: 40%;
}

@media (min-width: 40rem) {
  body {
    padding: 0rem 5rem;
  }

  .input__label {
    font-size: 1rem;
  }

  .input__container {
    padding: 1rem;
  }

  .percentages__box button {
    padding: 0.7rem 0rem;
  }

  .output__title {
    font-size: 1.2rem;
  }

  .output__value {
    font-size: 2.5rem;
  }

  .output__reset {
    font-size: 1.7rem;
  }
}

@media (min-width: 65rem) {
  body {
    padding: 0rem 20vw;
    max-height: 0;
  }

  #root {
    height: auto;
  }

  .calculator {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    border-radius: 15px;
  }

  .input__container {
    padding: 0.5rem 1rem;
  }

  .calculator__input {
    font-size: 1.8rem;
  }

  .percentages__box {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calculator__outputs {
    padding: 2rem 2rem;
    padding-top: 3rem;
  }

  .calculator__outputs {
    margin-top: 0;
  }

  .output__value {
    font-size: 2.8rem;
  }
}

@media (min-height: 50rem) and (min-width: 65rem) {
  #root {
    margin-top: 50%;
    transform: translateY(-50%);
  }
}
